name: Run CI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  lint:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environments: [frontend, backend]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Run lint in ${{ matrix.environments }} directory
        run: cd ${{ matrix.environments }} && pnpm run lint
